.calendar {
	width: 100%;
}

.calendar-header {
	height: 80px;
}
.calendar-header__title {
	color: #fff;
	font-size: 21px;
}
.calendar-header__button {
	position: absolute;
	right: 30px;
}

.calendar-body {
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.calendar-body__wrapper {
	display: flex;
	width: 61%;
	overflow: hidden;
	height: 100%;
}

.calendar-body__create-task {
	position: absolute !important;
	right: 30px;
	bottom: 30px;
}
.calendar-body__options {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.calendar-body__grid {
	width: 90% !important;
}

.calendar-body__theme {
	padding-top: 105px;
}

.not-present-month {
	color: #636363 !important;
}
